<br>
<div class="container mybody" style="background-color: rgba(224, 153, 197, 0.884);padding-top: 30px;">
  <div class="mytop">
    <h1 class="text-center" style="font-size:3rem"><span><strong>Quotes</strong></span></h1>
  </div>
  <hr>
  <br><br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <p *ngIf='quotes.length > 0'><button (click)='findMostLiked()' class="btn btn-outline-danger"
            style="color: rgb(0, 0, 0);">
            <b>Best quote</b></button>
        </p>
        <div *ngIf='bestQuote && quotes.length > 0'>
          <div style="color: rgb(230, 0, 0);" appHighlightBestQuotes>
            <p><b>{{bestQuote | uppercase}}</b></p>
            <p>It has {{highestCounter}} likes.</p>
          </div>
        </div>
        <div *ngFor='let quote of quotes;let i = index'>
          <div class="card p-3 mb-3 mycard">
            <div>
              <div appHighlightBestQuotes>{{quote.name}}
              </div>
              <div>
                <a href="#" onclick="event.preventDefault()" (click)="countClick(quote)">
                  <i class="fa fa-thumbs-up pr-1  ml-4 like" ng-click="count = count + 1" ng-init="count=0"
                    style="color:blue;"></i>
                </a>{{ quote.clickCounter }}
                <a href="#" onclick="event.preventDefault()" (click)="countDislike(quote)">
                  <i class="fa fa-thumbs-down pr-1 dislike" ng-click="count = count + 1" ng-init="count=0"
                    style="color:red;"></i>
                </a>{{ quote.dislikeCounter }}
              </div>
              &nbsp;
              <button (click)='toggleDetails(i)' class="btn btn-primary">Details</button>
            </div>
            <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='deleteQuote($event,i)'>
            </app-quote-detail>
          </div>
        </div>
      </div>
      <div>
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
    </div>
  </div>
</div>