<div class="container">
    <h1 class="jumbotron" style="text-align: center;">Favourite Quotes</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
          <ol>
             <div *ngFor='let quote of quotes; let i = index'>
                 <li>{{quote.name}} on {{quote.completeDate|date|uppercase}}</li>
                   <button (click) = 'toggleDetails(i)' class="btn btn-primary">Show Details</button>
                     <div *ngIf='quote.showDescription'>
                      <app-quote-detail *ngIf='quote.showDescription' [quote] = 'quote' (isComplete) = 'deleteQuote($event, i)'></app-quote-detail>
                     </div>
             </div>
           </ol>
        </div> 
    </div> 
  </div>
